@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .backface-hidden {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
  }
  
  .rotate-y-180 {
    transform: rotateY(180deg);
  }

  .perspective-1000 {
    perspective: 1000px;
  }
}

@layer base {
  body {
    @apply bg-gray-900 text-white antialiased;
  }
}

.card-flip-enter {
  transform: rotateY(0deg);
}

.card-flip-enter-active {
  transform: rotateY(180deg);
  transition: transform 500ms;
}

.card-flip-exit {
  transform: rotateY(180deg);
}

.card-flip-exit-active {
  transform: rotateY(0deg);
  transition: transform 500ms;
}